<!DOCTYPE html>
<html>
  <head>
    <title>RELY Signup form</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="outcast">
      <div class="goback">
        <a href="/">
          <button type="button" class="gobackbtn">Go back</button>
        </a>
      </div>
      <div class="form">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="join()">
            Join
          </button>
          <button type="button" class="toggle-btn" onclick="update()">
            Update
          </button>
        </div>
        <div class="social-icons">
          <img src="resources/fb.png" />
          <a
            href="/auth/login/google"
            class="button4"
            id="gmail-login-button"
            style="background-color: #f14e4e"
            ><img src="/resources/gp.png"
          /></a>
          <img src="/resources/tw.png" />
        </div>
        <form action="/details" method="post" id="enter" class="input-grp">
          <input
            name="patientID"
            type="text"
            class="input-field"
            placeholder="Enter Patient ID"
            required
          />
          <input
            name="emailID"
            type="text"
            class="input-field"
            placeholder="Enter Email ID"
            required
          />
          <input type="checkbox" class="chech-box" /><span
            >Agree to <a href="">Terms and Conditions</a></span
          >
          <button type="submit" class="submit-btn">Join</button>
        </form>
        <form id="update" action="/details" method="post" class="input-grp">
          <input
            name="patientID"
            type="text"
            class="input-field"
            placeholder="Enter Patient ID"
            required
          />
          <input
            name="hashValue"
            type="text"
            class="input-field"
            placeholder="Enter provided Hash"
            required
          />
          <input type="checkbox" class="chech-box" /><span
            >Agree to <a href="">Terms and Conditions</a></span
          >
          <button type="submit" class="submit-btn">Update</button>
        </form>
      </div>
    </div>

    <script>
      var x = document.getElementById("enter");
      var y = document.getElementById("update");
      var z = document.getElementById("btn");

      function update() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
      }
      function join() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0px";
      }
    </script>
  </body>
</html>
