<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download Data</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="outcast">
      <div class="gen-info">
        <div class="heading-box">
          <h1>Data Download</h1>
        </div>
        <form action="/display" method="post">
          <div style="float: left" id="uc" class="cb">
            <input type="text" name="code" />
            <label for="code">Enter the Unique code</label>
          </div>
          <div style="clear: both">&nbsp;</div>

          <div class="dd-btn">
            <button type="submit" class="fil-btn">Submit</button>
          </div>
        </form>
        <div class="download-btn">
          <% if(download === true){%>
          <button class="d-btn">
            <i class="fa fa-download"></i
            ><a href="/download" download="Patient-Data">Download</a>
          </button>
          <% } %>
        </div>
        <br />
        <p><%=msg %></p>
      </div>
    </div>
  </body>
</html>
