<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Data</title>
    <link rel="stylesheet" href="../public/css/style.css" />
</head>
<body>
    <div class="outcast">
        <div class="gen-info">
            <div class="heading-box">
              <h1>Data Download</h1>
            </div>
            <form>
                <div style="float: left" id="uc" class="cb">
                    <input type="text" name="uniquecode" /><label for="id">Enter the Unique code</label>
                </div>
                <div style="clear: both">&nbsp;</div>
            </form>
            <div class="dd-btn">
                <button type="submit" class="fil-btn">Submit</button>
            </div>
            <div class="download-btn">
                <button class="d-btn"><i class="fa fa-download"></i><a href="../local-storage/filtered_data.csv" download="Patient-Data">Download</a></button>
            </div>
        </div>
    </div>
</body>
</html>