<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RELY Faucet</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="outcast">
        <div class="info">
            <div class="heading-box">
                <h1>Faucet Information</h1>
            </div>
            <div class="faucet">
                <p id="metamask">
                    To proceed, please have an online Crypto Wallet set up
                    in your System. We suggest <a href="https://metamask.io/">Metamask.</a>
                    It is free and is easy to use and the primary
                    source to interact with the Ethereum Blockchain
                    by Millions of users. Having a wallet lets you 
                    have Goerli Ethereum which is a TestNet deployed 
                    by Ethereum and works with the proof-of-stake algorithm.
                </p>
                <p id="fauc">
                    To proceed with the Blockchain functionality defined
                    in this project, We need some test Ethers. Ether is
                    the native cryptocurrency for the Ethereum blockchain 
                    and network. It is used to pay transaction fees and as 
                    collateral by network validators.
                </p>
                <p id="link">
                    Please proceed to one of the Ethereum Faucets in the links
                    given below. Make sure you have a Metamask account before
                    proeceeding.
                    <ul>
                        <li><a href="https://goerlifaucet.com/">Goerli Faucet</a></li>
                        <li><a href="https://goerli-faucet.pk910.de/">Goerli PoW</a></li>
                        <li><a href="https://faucet.quicknode.com/ethereum/goerli">QuickNode Goerli Faucet</a></li>
                    </ul>
                </p>
            </div>
            <div class="proceedbtn">
                <button type="button" class="proceed">Proceed</button>
            </div>
        </div>
    </div>
    
</body>
</html>