<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Data</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="outcast">
        <div class="gen-info">
            <div class="heading-box">
                <h1>Select Health Data</h1>
            </div>
            <h3>We collect a variety of Data from our users.
                Please select the data you want us to collect.
                Your choices are completely anonymous.
            </h3>
            <div class="filters">
                
            </div>
            
        </div>
    </div>
    
</body>
</html>