<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Data</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="outcast">
      <div class="gen-info">
        <div class="heading-box">
          <h1>Select Health Data</h1>
        </div>
        <h3>
          We collect a variety of Data from our users. Please select the data
          you want us to collect. Your choices are completely anonymous.
        </h3>
        <div class="filters">
          <form class="data">
            <div style="float: left" id="hr" class="cb">
              <input type="checkbox" /><label for="hr">Heart Rate</label>
            </div>
            <div style="float: left" id="bp" class="cb">
              <input type="checkbox" /><label for="bp">Blood Pressure</label>
            </div>
            <div style="float: left" id="ol" class="cb">
              <input type="checkbox" /><label for="ol">Oxygen Level</label>
            </div>
            <div style="float: left" id="tp" class="cb">
              <input type="checkbox" /><label for="tp">Temperature</label>
            </div>
            <div style="float: left" id="gl" class="cb">
              <input type="checkbox" /><label for="gl">Glucose Level</label>
            </div>
            <div style="float: left" id="hl" class="cb">
              <input type="checkbox" /><label for="hl">Hydration Level</label>
            </div>
            <div style="clear: both">&nbsp;</div>
            <div style="float: left" id="tva" class="cb">
              <input type="checkbox" /><label for="tva">TV Activity</label>
            </div>
            <div style="float: left" id="sma" class="cb">
              <input type="checkbox" /><label for="sma">Phone Activity</label>
            </div>
            <div style="float: left" id="wa" class="cb">
              <input type="checkbox" /><label for="wa">Watch Activity</label>
            </div>
            <div style="float: left" id="sa" class="cb">
              <input type="checkbox" /><label for="sa">Sleep Activity</label>
            </div>
            <div style="float: left" id="l" class="cb">
              <input type="checkbox" /><label for="l">Lighting Activity</label>
            </div>
            <div style="float: left" id="po" class="cb">
              <input type="checkbox" /><label for="po">Oximeter</label>
            </div>
          </form>
        </div>
        <h3>
          Please enter the emails of the users you want this data to be shared
          with. All the participants will remain anonymous.
        </h3>
        <div class="emails">
          <form class="pinfo">
            <div style="float: left" id="nok" class="em">
              <input type="email" required /><label for="nok"
                >Next of Kin (Spouse/Children)</label
              >
            </div>
            <div style="float: left" id="mp" class="em">
              <input type="email" required /><label for="mp"
                >Medical Professional</label
              >
            </div>
            <div style="float: left" id="ao" class="em">
              <input type="email" required /><label for="ao">Any Other</label>
            </div>
          </form>
        </div>
        <div class="fil-btn-box">
          <button type="submit" class="fil-btn">Submit</button>
          <button type="submit" class="fil-btn0">Display Data</button>
        </div>
      </div>
    </div>
  </body>
</html>
